/* PC98 CSS */

A { text-decoration:none; outline:none; }
	A:link { color:#000000; }
	A:visited { color:#000000; }
	A:active { color:#000000; }
	A:hover { color:#000000; }
IMG {
	border:none;
}
	IMG.ss {
		background-color:#ffffdd; padding:7px; margin:0 10px 0 0; vertical-align: bottom;
		box-shadow: 8px 8px 0px 1px #222222;
	}
	IMG.flag {
		background-color:#000000; padding:1px; margin:0 2px 0 0; vertical-align: bottom;
		box-shadow: 1px 1px 0px 1px #222222;
	}
	IMG.icon { margin:0 2px 0 0; vertical-align: middle; }
	IMG.th { vertical-align: bottom; margin:0 1px 0 0; border:solid 3px #ffffdd; vertical-align:top; box-shadow: 1px 1px 0px 0px #222222;}
	IMG.th2 { border:none; vertical-align:middle; border-radius: 10px; margin:4px 2px 8px 2px; box-shadow: 0px 1px 1px 1px #222222;}
	IMG.th3 { vertical-align: bottom; margin:0 1px 0 0; border:solid 3px #ffffdd; vertical-align:top; box-shadow: 1px 1px 0px 0px #222222;}
	IMG.cover { background-color:#ffffdd; padding:8px; vertical-align:top;}

HTML {
	font-family: "Meiryo";
	width:100%; height:100%; padding:0; margin:0;
}

BODY {
	background-color:#000000; white-space:nowrap; overflow-y: scroll; margin-left:-780px;
	background-image: url("pic/compass.png"),url("pic/divider.png"),url("pic/map.png"),url("pic/bg.png");
	background-attachment: fixed;
	background-repeat: no-repeat,no-repeat,no-repeat,repeat;
	background-position: bottom 65px right 50px,bottom 80px left 13px,top -20px right -50px,top 0px left 0px;
}

HEADER {
	top:0; left:0; height:8px; width:100%; position:fixed; z-index:3;
	background-image: url("pic/frame_07.png"),url("pic/frame_05.png"),url("pic/frame_01.png");
	background-attachment: fixed;
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-position: top 0px right 0px,top 0px left 0px,top 0px left 0px;
}
#frame_left {
	top:0; left:0; height:100%; width:8px; position:fixed; z-index:2;
	background-image: url("pic/frame_03.png");
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position:  top 0px left 0px;
}
#frame_right {
	top:0; right:0; height:100%; width:8px; position:fixed; z-index:2;
	background-image: url("pic/frame_04.png");
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position:  top 0px right 0px;
}
FOOTER {
	bottom:0px; right:0px; width:100%; height:48px; position:fixed; z-index:4;
	background-image: url("pic/frame_08.png"),url("pic/frame_06.png"),url("pic/frame_02.png"),url("pic/footer_bg2.png"),url("pic/footer_bg1.png");
	background-repeat: no-repeat,no-repeat,repeat-x,no-repeat,repeat-x;
	background-position: bottom 40px right 0px,bottom 40px left 0px,bottom 40px left 0px,bottom 0px left 0px,bottom 0px left 0px;
}
#footer_right {
	bottom:0px; right:0px; width:228px; height:40px; position:fixed; z-index:6;
	background-image: url("pic/footer_bg3.png");
	background-repeat: no-repeat;
	background-position: bottom 0px right 0px;
}
#title_bg {
	top:40px; left:245px; height:93px; position:absolute; z-index:1;
	padding:3px 5px 3px 50px;
	background-image: url("pic/title.png");
	background-repeat: no-repeat;
	background-position: top 0px left 0px;
}
#title_jp {
	min-width:500px; height:36px; padding:4px 50px 0 25px; font-family:"Meiryo"; font-size:20px; font-weight:bold;
	background-image: url("pic/scroll3.png"),url("pic/scroll2.png"),url("pic/scroll1.png");
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-position: top 0px right 0px,top 0px left 0px,top 0px left 0px;
}
#title_en {
	margin:0 0 0 45px; font-family:"Georgia"; font-size:16px; font-weight:bold;
}
#title_up {
	margin:0 0 0 45px; font-family:"Meiryo"; font-size:16px; font-weight:bold;
}
#database {
	top:10px; left:10px; position:fixed; z-index:2;
}
#lang {
	top:107px; left:98px; position:fixed; z-index:2;
}

SECTION {
	margin:0 0 0 50%; padding:135px 0 180px 80px; position:absolute;
}
#publisher {
	height:36px; min-width:500px; position:absolute; padding:7px 50px 0 15px; margin:20px 0 10px 0px;
	font-family:"Meiryo"; font-size:100%; font-weight:bold;
	background-image: url("pic/scroll3.png"),url("pic/scroll2.png"),url("pic/scroll1.png");
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-position: top 0px right 0px,top 0px left 0px,top 0px left 0px;
}

#cover {
	margin:65px 0 0 1050px;  position:absolute; box-shadow: 6px 6px 0px 1px #222222;
}
#cover_tag {
	background-color:#ffffdd; color:#000000; font-family:"Georgia"; font-weight:bold;
	text-align:center; padding:2px 0 0 0;
}

#review { 
	width:800px; min-height:20px; border:solid 1px #000000;
	margin:65px 0 0 0; padding:10px 10px 10px 10px; white-space:normal;
	background-color:#ffffdd; color:#443300; font-weight:normal;
	box-shadow: 1px 1px 0px 1px #222222;
}

#thumbnail {
	margin:65px 0 0 0px;
}
#thumbnail_re {
	margin:15px 0 0 0px;
}
#note,#note2 {
	background-color:#000000; color:#f7f7f7; font-weight:bold; white-space:pre;
	margin:0; padding:20px 25px 23px 25px;
}
	#note2 { margin:0; }

	#note A:link { color:#f7f7f7; } #note2 A:link { color:#f7f7f7; }
	#note A:visited { color:#f7f7f7; } #note2 A:visited { color:#f7f7f7; }
	#note A:active { color:#f7f7f7; } #note2 A:active { color:#f7f7f7; }
	#note A:hover { color:#f7f7f7; } #note2 A:hover { color:#f7f7f7; }

#navi {
	top:15px; left:250px; width:1000px; position:absolute; z-index:5; font-family:"Georgia"; font-weight:bold;
}
	#navi:after {
		clear:both;
	}
	.genre {
		color:#000000; float:left; margin:0 5px 0 0; text-align:center;
		padding:0px 5px 0 5px; min-width:50px;
	}

#page-navi {
	bottom:9px; left:235px; width:1300px; position:fixed; z-index:5;
}
	#page-navi:after {
		clear:both;
	}
	.page {
		float:left; background-color:#ffffdd; color:#000000; font-weight:bold;
		min-width:60px; text-align:center; margin:0 7px 0 0; padding:0px 5px 1px 5px; border-radius: 3px;
		box-shadow: 1px 1px 0px 1px #222222;transition-duration:0.3s;
	}
		.page:hover { box-shadow: -1px -1px 0px 1px #222222; transition-duration:0.3s;}
#sub-navi {
	 margin:0 0 0 100px; height:20px;
}
	#sub-navi:after {
		clear:both;
	}
.tab { 
	float:left; background-color:#ffffdd; min-width:50px; height:20px; border-radius: 2px 2px 0 0;
	margin:0 2px 0 0; padding:0 7px 0 7px; text-align:center; font-weight:normal;
	border-top:solid 1px #000000; border-left:solid 1px #000000; border-right:solid 1px #000000; border-bottom:solid 1px #000000;
}
	#tab_sel { border-bottom:solid 1px transparent; }
	.tab:hover {opacity:0.4;}
#gamelist { 
	min-width:800px; border:solid 1px #000000;
	margin:1px 0 0 100px; padding:25px 10px 10px 10px;
	background-color:#ffffdd; color:#000000;

}
.list_sub2 {
	min-width:40px; padding:0 10px 0 0;
}
.list_tit {
	min-width:350px; padding:0 20px 0 0px; border-bottom:solid 1px transparent;
}
	.list_tit:hover { border-bottom:solid 1px #000000; }


#pub-navi {
	 margin:0 0 0 100px; height:80px;
}
	#pub-navi:after {
		clear:both;
	}

.publist1,.publist2,.publist3 {
		min-width:30px; min-height:20px; display:block; font-weight:normal; opacity:0.7;
		float:left; text-align:center; color:#000000;
		padding:4px; margin:2px 2px 0 0; border-radius: 5px;
}
	.publist1 { background-color:#eeeedd; } .publist2 { background-color:#ffffdd; } .publist3 { background-color:#eeeedd; clear:both; }

#pubsel {
	background-color:#ffffdd; opacity:1;
}
	.publist1:hover,.publist2:hover,.publist3:hover {
		opacity:1;
	} 

.publist_name {
	color:#000000; padding:0 10px 0 0;
	border-bottom:solid 1px #000000; font-weight:normal;
}
.publist_title,publist_title2 {
	padding:0 35px 0 0; margin:0 0 0 2px; font-weight:normal;
	border-bottom:solid 1px transparent; min-width:380px;
}
.publist_title2 {
	opacity:0.4;
}
	.publist_title:hover {
		border-bottom:solid 1px #000000;
	} 


	@media screen and (max-width: 1600px) {
		BODY {
			margin-left:0;
		}
		SECTION {
			margin:0 0 0 0px; padding:135px 0 180px 80px;
		}
	}
	@media screen and (max-width: 1000px) {
		IMG.ss {
			width:300px; height:188px;
		}
			IMG.th { width:280px; height:175px; }
		SECTION {
			margin:0 0 0 0px; padding:135px 0 180px 25px;
		}
	}
	@media screen and (max-width: 950px) {
		IMG.ss {
			width:240px; height:150px;
		}
		#database {
			position:absolute;
		}
		#lang {
			position:absolute;
		}
	}
